:root {
  --animate-duration: 2s;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #636363;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  width: 99%;
  max-width: 1200px;
  margin: 0 auto;
}
button {
  font-size: 15px;
  color: white;
  padding: 20px 35px;
  border-radius: 30px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}
button:hover {
  background-position: right center;
}

/* HEADER */
header {
  padding: 35px 0;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav a {
  padding: 0 15px;
}
header nav span {
  font-size: 15px;
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  transition: 0.5s;
}
header nav a:hover span {
  color: #f55f8d;
  animation: upDown 0.3s;
}
header nav i {
  font-size: 9px;
  vertical-align: middle;
  transition: 0.5s;
}
header nav a:hover i {
  color: #f55f8d;
}
header nav button {
  margin-left: 30px;
}

/* INTRO */
.intro {
  padding-top: 180px;
  background-image: url(./img/pic2.png);
  background-size: 100%;
}
.intro__content {
  display: flex;
  align-items: center;
}
.intro__left {
  width: 60%;
}
.intro__right {
  width: 40%;
  overflow: hidden;
}
.intro__left h3 {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
}
.intro__left h2 {
  color: #262626;
  font-size: 70px;
  font-weight: 600;
  margin: 20px 0;
  line-height: 1.1;
}
.intro__left > p {
  font-size: 18px;
}
.intro__left nav {
  margin: 15px 0 20px 0;
}
.intro__left nav p {
  padding: 10px 0;
  font-size: 20px;
}
.intro__left nav i {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  color: white;
}
.intro__right img {
  display: block;
}

/* SERVICE */
.service {
  text-align: center;
  padding-top: 115px;
  background-image: url(./img/bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left top;
}
.service__title h3 {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}
.service__title h2 {
  font-size: 70px;
  color: #262626;
  font-weight: 700;
  line-height: 1.1;
  margin: 20px 0 40px;
}
.service__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.service__item {
  border-radius: 8px;
  padding: 30px 45px;
  background-color: white;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.1);
  transform: translateY(0);
  transition: 0.5s;
  border: 3px solid transparent;
}
.service__item:hover {
  transform: translateY(-20px);
  border-image: url(./img/br.png) 1 round;
}
.service__item img {
  width: 75%;
}
.service__item h3 {
  font-size: 24px;
  color: #262626;
  font-weight: 700;
  margin: 15px 0;
}

/* ABOUTUS */
.aboutUs {
  padding: 115px 0 85px;
  overflow: hidden;
  background-image: url(./img/bg15.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center right;
}
.aboutUs__content {
  display: flex;
  align-items: center;
}
.aboutUs__left,
.aboutUs__right {
  width: 50%;
}
.aboutUs__left {
  display: flex;
  justify-content: flex-end;
  padding-right: 82px;
}
.aboutUs__left img {
  height: 83vh;
  border-radius: 0 100px 100px 0;
}
.aboutUs__right h3 {
  color: #f55f8d;
  font-size: 22px;
  font-weight: 600;
}
.aboutUs__right h2 {
  font-size: 70px;
  font-weight: 700;
  color: #262626;
  line-height: 1.1;
  margin: 15px 0 20px;
}
.aboutUs__right nav {
  margin: 15px 0 30px;
}
.aboutUs__right nav i {
  font-size: 24px;
  color: #f55f8d;
  margin-right: 10px;
  vertical-align: middle;
}

/* NUMBER */
.number {
  padding: 80px 0 50px;
  background-image: url(./img/bg14.png);
  background-position: center;
}
.number__content {
  display: flex;
  justify-content: space-around;
}
.number__item {
  text-align: center;
}
.number__item i {
  font-size: 45px;
  width: 80px;
  height: 80px;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 15px;
}
.number__item h2 {
  font-size: 65px;
  font-weight: 700;
  color: #f55f8d;
  line-height: 1;
}
.number__item p {
  font-size: 18px;
  color: #262626;
}

/* FEATURES */
.features {
  background-image: url(./img/bg2.png);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 115px;
  overflow: hidden;
}
.features__content {
  display: flex;
}
.features__left,
.features__right {
  width: 50%;
}
.features__title h3 {
  color: #f55f8d;
  font-size: 22px;
}
.features__title h2 {
  font-size: 70px;
  color: #262626;
  margin: 20px 0;
  font-weight: 700;
  line-height: 1.1;
}
.features__item {
  display: flex;
  align-items: center;
  padding: 30px;
  box-shadow: 0 0px 60px 0px rgb(0 0 0 / 10%);
  margin-right: 50px;
  border-radius: 10px;
  position: relative;
  transition: 1s;
  overflow: hidden;
}
.features__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 50%,
    #f55f8d 100%
  );
  background-size: 200%;
  opacity: 0;
  transition: all 1s;
}
.features__item:hover::before {
  opacity: 1;
}
.features__item:nth-of-type(2) {
  margin: 30px 0 30px 50px;
}
.features__item div {
  padding-left: 25px;
  z-index: 1;
}
.features__item i {
  font-size: 80px;
  color: #f55f8d;
  z-index: 1;
  line-height: 1;
  transition: 1s;
}
.features__item h4 {
  font-size: 24px;
  color: #262626;
  font-weight: 700;
  transition: 1s;
}
.features__item p {
  transition: 1s;
}
.features__item:hover i,
.features__item:hover h4,
.features__item:hover p {
  color: white;
}
.features__right img {
  width: 113%;
  animation: move 5s infinite;
}

/* PORTFOLIO */
.portfolio {
  padding-top: 115px;
  overflow: hidden;
}
.portfolio__title {
  text-align: center;
}
.portfolio__title h3 {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
}
.portfolio__title h2 {
  font-size: 70px;
  line-height: 1.1;
  font-weight: 700;
  color: #262626;
  margin: 20px 0;
}
.portfolio__content {
  display: grid;
  grid-template-columns: repeat(2, 1fr) 1.5fr;
  gap: 35px;
}
.portfolio__item {
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.portfolio__item.item1 {
  grid-column: 1 / span 2;
}
.portfolio__item.item5 {
  grid-column: 1 / span 2;
}
.portfolio__item.item6 {
  grid-column: 3 / span 1;
  grid-row: 2 / span 2;
}
.portfolio__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.portfolio__item::before {
  content: "";
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  display: block;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.3) 100%
  );
  transform: skewX(-25deg);
  transition: all 0.75s;
}
.portfolio__item:hover::before {
  left: 125%;
}
.portfolio__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  transition: 0.75s;
}
.portfolio__icon {
  position: absolute;
  top: 0;
  right: 0;
  transition: 0.75s;
}
.portfolio__item:hover .portfolio__overlay {
  opacity: 1;
}
.portfolio__item:hover .portfolio__icon {
  transform: translate(-20px, 20px);
}
.portfolio__overlay i {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  font-size: 28px;
  color: white;
  background-image: linear-gradient(to right, #f55f8d 0%, #f8ae56 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio__text {
  position: absolute;
  left: 30px;
  bottom: -70px;
  transition: 0.75s;
}
.portfolio__text h3 {
  font-size: 22px;
  font-weight: 700;
  color: white;
}
.portfolio__text p {
  color: white;
  opacity: 0.7;
}
.portfolio__item:hover .portfolio__text {
  bottom: 30px;
}

/* BLOG */
.blog {
  padding: 115px 0 50px;
  background-image: url(./img/bg16.png);
  background-size: cover;
  background-position: top center;
}
.blog__title {
  text-align: center;
}
.blog__title h3 {
  font-size: 22px;
  color: #f55f8d;
  font-weight: 600;
}
.blog__title h2 {
  font-size: 70px;
  line-height: 1.1;
  color: #262626;
  font-weight: 700;
  margin: 20px 0;
}
.blog__item {
  background: rgba(245, 95, 141, 0.1);
  border-radius: 8px;
  overflow: hidden;
}
.blog__header {
  position: relative;
}
.blog__header img {
  width: 100%;
  display: block;
  border-radius: 8px;
}
.blog__header span {
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  background-image: linear-gradient(to right, #f55f8d 0%, #f8ae56 100%);
  border-radius: 6px;
  position: absolute;
  left: 15px;
  bottom: -20px;
}
.blog__body {
  padding: 30px 15px 35px;
  line-height: 1.4;
}
.blog__body h4 {
  font-size: 24px;
  font-weight: 700;
  color: #262626;
}
.blog__footer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 15px;
  font-size: 14px;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}
.blog__footer i {
  font-size: 22px;
  color: #f55f8d;
  vertical-align: sub;
}
.blog__footer span {
  color: #f55f8d;
}
.blog__footer p:first-of-type {
  margin-right: 20px;
}

/* FOOTER */
footer {
  background-image: url(./img/bg4.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #0e1b1f;
  background-size: contain;
  position: relative;
  font-size: 15px;
}
footer::before {
  content: "";
  background-image: url(./img/pattern2.png);
  background-position: left top;
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.footer__top {
  background-color: white;
  display: flex;
  padding: 50px 60px;
  background-image: url(./img/pattern3.png);
  background-size: 100%;
  background-position: bottom;
  background-repeat: no-repeat;
  box-shadow: 0 0px 30px 0 rgb(0 0 0 / 10%);
  border-radius: 10px;
  position: relative;
}
.footer__text,
.footer__form {
  width: 50%;
}
.footer__text h2 {
  font-size: 28px;
  color: #262626;
}
.footer__form form {
  display: flex;
  box-shadow: 0 0 60px 0 rgb(0, 0, 0, 0.1);
  border-radius: 8px;
}
.footer__form input {
  padding: 20px;
  font-weight: 400;
  color: #888;
  flex: 1 1 auto;
  outline: none;
  border: 1px solid white;
  border-radius: 8px 0 0 8px;
  transition: 0.5s;
  font-size: 15px;
}
.footer__form input:focus,
.footer__form input:hover {
  border-color: #f55f8d;
}
.footer__form button {
  border-radius: 0 8px 8px 0;
  font-size: 20px;
}
.footer__form button:hover i {
  animation: toLeftfromRight 0.5s;
}
.footer__bottom {
  display: flex;
  color: white;
  padding: 70px 0;
  position: relative;
}
.footer__item {
  width: 25%;
}
.footer__item li {
  display: flex;
  align-items: center;
  padding: 8px 0;
}
.footer__item.social i {
  height: 40px;
  width: 40px;
  background: linear-gradient(to right, #f55f8d 0, #f8ae56 50%, #f55f8d 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.footer__item.social ul {
  margin-top: 6px;
}
.footer__item i {
  margin-right: 10px;
}
.footer__item a {
  display: flex;
  color: #636363;
  font-size: 16px;
  transition: 0.5s;
  align-items: center;
}
.footer__item a:hover {
  color: white;
}
.footer__item h2 {
  font-size: 24px;
  margin-bottom: 30px;
  padding-bottom: 10px;
  position: relative;
}
.footer__item h2::before,
.footer__item h2::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 4px;
  background-image: linear-gradient(to right, #f55f8d 0, #f8ae56 100%);
  border-radius: 20px;
}
.footer__item h2::before {
  left: 0;
  width: 15px;
}
.footer__item h2::after {
  left: 20px;
  width: 45px;
}
.footer__copyright {
  background-color: #1f343b;
  padding: 10px 0;
  position: relative;
}
.footer__copyright .container {
  display: flex;
  justify-content: space-between;
  color: white;
}
.footer__copyrightLeft span {
  color: #f55f8d;
}
.footer__copyrightRight a {
  height: 32px;
  width: 32px;
  background-color: rgba(255, 255, 255, 0.1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  transition: 0.5s;
}
.footer__copyrightRight a:hover {
  background-color: #f55f8d;
}

/* BACK TO TOP */
.backToTop {
  width: 50px;
  height: 50px;
  background-color: #f55f8d;
  color: white;
  position: fixed;
  right: 15px;
  bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  box-shadow: -4px 4px 24px -10px #f55f8d;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* KEYFRAMES */
@keyframes upDown {
  49% {
    transform: translateY(100%);
  }
  50% {
    opacity: 0;
    transform: translateY(-100%);
  }
  51% {
    opacity: 1;
  }
}
@keyframes move {
  0% {
    transform: rotate(1deg) translate(2px, 2px);
  }
  50% {
    transform: rotate(-1deg) translate(-2px, -2px);
  }
  100% {
    transform: rotate(1deg) translate(2px, 2px);
  }
}
@keyframes toLeftfromRight {
  49% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(-100%);
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
}
